body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
section {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer {
    background-color: #333;
}
.experience-item {
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: baseline; /* Aligns items in a way that their baselines align */
}

.date-right {
    white-space: nowrap; /* Ensures the date doesn't wrap onto the next line */
}
